/node_modules
/public/hot
/public/images/product
/public/images/page-assets
/public/images/profile
/public/images/carousel
/public/images/categories
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
