html{
    overflow-x: hidden !important;
}

body{
  
  font-family: "Karla", sans-serif !important;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 5px #B3B3B3;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -webkit-box-shadow: inset 0 0 5px #B3B3B3;
}

.content-wrapper {
  min-height: 1000px !important;
}

.breadcrumb-container a{
  color: #1C2877 !important;
}

.btn-success {
  background-color:#EFF6EC !important; color:#343A40 !important;
}
.btn-success:hover {
  background-color:#3BC265 !important; color:#FFF !important; border-color: #3BC265 !important;
}
.btn-outline-secondary {
  color:#343A40 !important;
}
.btn-outline-secondary:hover {
  color:#FFF !important;
}
.responsive-img{
  background-size: contain;
  background-position:center; 
  background-repeat: no-repeat;
  width:100%; 
  border: 1px solid #E2E6EA !important;
  border-radius: 10px;
  background-color: #FFF;
  cursor: pointer;
}
#main-image{
  background-size: contain; 
  border-radius: 3px !important;
  background-color: #FFF !important;
  border: 1px solid #E2E6EA !important;
}

.rebrand-img{
  background-size: contain; 
  background-position:center; 
  background-repeat: no-repeat;
  width:100%; 
  min-height: 290px;
  height: 320px;
  border-radius: 10px;
  background-color: #FFF;
  border: 1px solid #F2F2F2;
}

.landing .responsive-img{
  background-size:cover; 
  background-position:center; 
  width:100%; 
  min-height: 290px;
  height: 400px !important;
  border-radius: 10px;
  background-color: #EBEBEB;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3BC265;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

  

  .carousel-container{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .second-row .card{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .second-row img{
    object-fit: contain !important;
    height: 330px;
  }
  .swiper-button-next,.swiper-button-prev{
      border: 0px !important;
      background: transparent;
      background-image:none !important;
      outline:none;
      color: #444444;
  }

  .card-img-top, .carousel-img {
    object-fit: contain !important;
  }
  .card-first-imgs .card-img-top{
    background-color: #EBEBEB;
  }
  .card-first-imgs .card{
    background-color: #EBEBEB;
  }
  .bs-dr-bgn{
    object-fit: contain;
  }
  .wording-container h1{
    display: inline-block; font-size: 2.4vw; vertical-align: middle; margin-top: 20%;
  }
  .wording-container h3{
    display: inline-block; font-size: 1.5vw; vertical-align: middle; margin-top: 20px;
  }
  .wording-2{
    font-size: 1.5vw; margin-top: 20px;
  }

  .category-img{
    height: 340px !important;
    object-fit: fit;
  }
  .product-image{
    cursor: pointer;
  }
  .category-container .category-name{
    cursor: pointer;
  }
  
  @media screen and (max-width: 769px) {
    .wording-container h1{
      font-size: 25px;
      line-height: 30px;
      margin-top: 0;
    }
    .wording-container h3, .wording-2{
      font-size: 15px;
      line-height: 20px;
    }
  }
  @media screen and (max-width: 480px) {
  }
  .fa-check{
    color:#3BC265; 
  }

  .bs4-order-tracking {
  margin-bottom: 30px;
  overflow: hidden;
  color: #878788;
  padding-left: 0px;
  margin-top: 30px
}

.bs4-order-tracking li {
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: #878788;
  text-align: center
}

.bs4-order-tracking li:first-child:before {
  margin-left: 15px !important;
  padding-left: 11px !important;
  text-align: left !important
}

.bs4-order-tracking li:last-child:before {
  margin-right: 5px !important;
  padding-right: 11px !important;
  text-align: right !important
}

.bs4-order-tracking li>div {
  color: #fff;
  width: 29px;
  text-align: center;
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #878788;
  border-radius: 50%;
  margin: auto
}

.bs4-order-tracking li:after {
  content: '';
  width: 150%;
  height: 2px;
  background: #878788;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1
}

.bs4-order-tracking li:first-child:after {
  left: 50%
}

.bs4-order-tracking li:last-child:after {
  left: 0% !important;
  width: 0% !important
}

.bs4-order-tracking li.active {
  font-weight: bold;
}

.bs4-order-tracking li.active>div {
  background: #3BC265
}

.bs4-order-tracking li.active:after {
  background: #3BC265;
}

.card-timeline {
  background-color: #fff;
  z-index: 0;
  box-shadow: none;
}


#btn-scroll-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 23px;
  border: none;
  outline: none;
  background-color: #222222;
  color: white;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  border-radius: 4px;
  }
  
  #btn-scroll-up {
  background-color: #555;
  }

  .img-loader {
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;    
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
  position: relative;
  background-color: #e2e2e2;
}

/* The moving element */
.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-45%);
  background: -webkit-gradient(linear, left top,
              right top, from(transparent), 
              color-stop(rgba(255, 255, 255, 0.2)),
              to(transparent));
                
  background: linear-gradient(90deg, transparent,
          rgba(255, 255, 255, 0.2), transparent);

  /* Adding animation */
  animation: loading 0.8s infinite;
}

/* Loading Animation */
@keyframes loading {
  100% {
      transform: translateX(100%);
  }
}

.load-more-container {
  display: flex;
  justify-content: center;
}

.pagination > li > a,
.pagination > li > span {
    color: #00AD35 !important;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #00AD35 !important;
    border-color: #00AD35 !important;
    color: #FFF !important;
}

.nav-link.active{
  background-color:#00AD35 !important;
}

.nav-link:hover{
  color:#00AD35 !important;
}


